html, body {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
	overflow: hidden;
}

.draggable {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	line-height: 0;
}

#modalContainerInfo td:last-child {
	text-align: right;
}

#modalContainerInfo td:first-child {
	text-align: left;
}

#modalContainerInfo > img {
	margin-bottom: 10px;
	background-color: #222;
}

#time {
	position: absolute;
	top: 5px;
	left: 5px;
}

.time-wrapper {
	font-size: .7rem;
	font-weight: bold;
	color: white;
}

.time-wrapper-both {
	display: inline-block;
	margin-right: 30px;
}

.timeline-wrapper {
	position: relative;
}

.timeline-toolbar {
	position: absolute;
	top: 0px;
	right: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
	width: 55px;
	height: 38px;
	top: -35px;
	right: -12px;
	font-size: .7rem;
	font-weight: bold;
	color: white;
	text-align: center;
	z-index: -1;
}

.connector-table-data, 
.entity-table-data {
    padding: 5px;
    position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -25px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
	font-size: .7rem;
	font-weight: bold;
	color: white;
	cursor: default;
}

/*.connectors:hover + .middle-label .connector-table-data {
	display: block;
}*/

.connector-table-data {
	display: block;
	z-index: 21;
}

.connector-table-data table, 
.entity-table-data table {
    min-width: 100px;
	line-height: 1;
}

.draggable:not([data='null'])
{
	cursor: help;
}

.app-editor .draggable {
	cursor: pointer;
}

.app-editor .draggable.dragging {
	cursor: move;
}

.hidden {
	display: none;
}

.placing-connector .draggable {
	cursor: default;
}

.canvas {
	height: 100%;
	position: relative;
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
}

input[type="checkbox"], 
input[type="radio"] {
	display: inline-block;
}

.modal-wrapper {
	z-index: 75;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.modal-cover {
	z-index: 80;
	background-color: black;
	height: 100%;
	width: 100%;
	opacity: .5;
	position: absolute;
	top: 0;
}

.modal-box-wrapper {
	position: relative;
	z-index: 85;
	height: 100%;
}

.modal-box {
	background-color: #f8f8f8;
	border: 5px solid black;
	width: 400px;
	position: absolute;
	top: 30%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	padding: 10px;
}

.modal-box td:nth-child(1) {
	width: 50%;
}

.modal-box td:nth-child(2) {
	width: 20%;
}

.modal-box td[colspan="2"]:nth-child(2) {
	width: 50%;
}

.modal-box td:nth-child(3) {
	width: 30%;
}

#modalContainerInfo tr.tr-parameters:not(:first-child) td {
	padding-top: 20px;
}

#modalContainerInfo  {
	text-align: center;
}

#modalContainerInfo table {
	margin: 20px 0;
}
/*
#modalContainerInfo table td:first-child {
	font-weight: bold;
}*/

#modalContainerObject input[name="object"] {
	width: 175px;
}

#modalContainerComponent input[name^="attrValue"] {
	width: 153px;
}

#modalContainerObject input[name^="attrValue"] {
	width: 120px;
}

.canvas.edit {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.connector-marker {
	display: none;
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #27ae60;
	border-radius: 12px;
	cursor: pointer;
	border: 2px solid white;
}

.connector-marker.marked {
	background-color: #e67e22;
	cursor: not-allowed;
}

.placing-connector .connector-marker {
	display: block;
}

.connector-marker-left {
	left: -12px;
	top: 50%;
	margin-top: -12px;
}

.connector-marker-right {
	right: -12px;
	top: 50%;
	margin-top: -12px;
}

.connector-marker-top {
	left: 50%;
	top: -12px;
	margin-left: -12px;
}

.connector-marker-bottom {
	left: 50%;
	bottom: -12px;
	margin-left: -12px;
}

.connector {
	z-index: 20;
}

.app-editor .connector {
	cursor: pointer;
}

.connector[uid="pipe"] {
	background: linear-gradient(#eee, #444);
}

.connector[uid="pipe"][orientation="4"],
.connector[uid="pipe"][orientation="8"] {
	background: linear-gradient(to right, #444, #eee);
}

.connector[uid="conveyor"] {
	background-color: teal;
}

.connector[uid="conveyor"] {
	background-image: linear-gradient(-45deg, rgba(255, 154, 26, 1) 25%, transparent 25%, transparent 50%, rgba(255, 154, 26, 1) 50%, rgba(255, 154, 26, 1) 75%, transparent 75%, transparent);
	background-size: 50px 50px;
	background-color: black;
}

.connector[uid="conveyor"].animating {
	animation: move 2s linear infinite;
}

.connector[uid="line"] {
	background-color: black;
}

.connector[uid="pipe"][orientation="1"].animating,
.connector[uid="conveyor"][orientation="1"].animating {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.connector[uid="pipe"][orientation="4"].animating, 
.connector[uid="conveyor"][orientation="4"].animating {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.dock_point {
	overflow: hidden;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
	position: absolute;
	font-size: 1px;
	visibility: hidden;
}

h3 {
	margin-top: 0px;
}

h4 {

}

/*
.connector[orientation="8"]:nth-child(1) {
	border-top-right-radius: 50px;
	animation-delay: 0.3s;
}

.connector[orientation="1"]:nth-child(3) + .connector[orientation="8"] {
	border-bottom-right-radius: 50px;
	animation-delay: 0.3s;
}

.connector[orientation="2"]:nth-child(2) {
	border-top-right-radius: 50px;
}

.connector[orientation="2"]:nth-child(3) {
	border-bottom-left-radius: 50px;
}

.connector[orientation="4"]:nth-child(1) + .connector[orientation="2"]:nth-child(2) {
	border-bottom-right-radius: 50px;
}

.connectors > .connector:nth-child(2) {

}

.connectors > .connector:nth-child(3) {

}
*/

/* vertical-responsive-menu */

.wrapper {
	transition: all 0.3s ease-out;
	height: 100%;
	background-color: #515255 !important;
	background-image: url('./assets/img/engineer-background-tile.jpg');
	overflow: hidden;
}

.container {
	position: relative;
	height: 100%;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.updateDataInput {
	width: 108px;
}

#timeline {
	position: absolute;
	bottom: 10px;
	left: 22px;
	right: 22px;
	z-index: 40;
}

#timeline .noUi-handle, 
#timeline .noUi-active {
	box-shadow: none;
	cursor: grab;
	cursor: pointer;
}

#timeline .noUi-active {
	cursor: grabbing;
	cursor: ew-resize;
}

.menu a {
	cursor: pointer;
}

.vertical_nav__minify .menu--subitens__opened .menu--label {
	cursor: default;
}

.shadow-box {
	-moz-box-shadow: 2px 2px 5px rgba(28, 28, 28, 0.6);
	-webkit-box-shadow: 2px 2px 5px rgba(28, 28, 28, 0.6);
	box-shadow: 2px 2px 5px rgba(28, 28, 28, 0.6);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}

.entity-table-data-line {
	display: block;
	width: 100%;
	height: 1px;
	background-color: white;
	margin: 5px 0;
}

.entity-table-data-label {
	padding-right: 20px;
	white-space: nowrap;
}

.entity-table-data-value {
	float: right;
	white-space: nowrap;
}

.sub_menu_objects {
    width: 100%;
    display: table;
    table-layout: fixed;
	padding: 5px;
}

.menu-object-row {
    display: table-row;
}

.menu-object-inline {
	display: inline-block;
}

.menu-objects-item {
    display: table-cell;
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 14px;
    max-width: 48px;
}

.menu-object, 
.btn-component-add,
.btn-object-add {
	cursor: pointer;
}

#attributeNew input {
	width: 45%;
}

#attributeNew input:first-child {
	float: right;
}

.menu-object-label {
	font-size: 0.7rem;
	padding: 0px;
	line-height: 0px;
    display: inline;
	cursor: default;
}

.marker-align {
	position: absolute;
	border: 1px solid #666;
	border-style: dashed;
	display: none;
}

.dragging .marker-align {
	display: block;
}

.marker-align-top {
	top: 0px;
	left: -5000px;
	width: 10000px;
	height: 1px;
}

.marker-align-bottom {
	bottom: 0px;
	left: -5000px;
	width: 10000px;
	height: 1px;
}

.marker-align-left {
	left: 0px;
	top: -5000px;
	height: 10000px;
	width: 1px;
}

.marker-align-right {
	right: 0px;
	top: -5000px;
	height: 10000px;
	width: 1px;
}

.menu-object-wrapper {
    height: 48px;
    width: 48px;
	line-height: 0px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.menu-type-object-scroll {
	overflow-y: scroll;
	max-height: 300px;
}

.menu-type-object .menu-object-wrapper {
	background-color: #222;
}

.menu-type-connector .menu-object-wrapper {
	border: 1px solid #222;
	background-color: #eee;
}

.menu-object-wrapper > img {
    max-width: 90%;
    max-height: 90%;
}

td,
th {
  padding: 3px;
}

/*
.modal-box-wrapper table th, 
.modal-box-wrapper table td {
    padding: 5px;
	vertical-align: top;
	line-height: 1;
}*/

/* Small devices (tablets)
==========================*/
@media (min-width: 768px) {

}


/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {

	/*  body {
		overflow-y: scroll;
	  }*/

	.logo img {
		width: 200px;
		text-align: center;
		margin-top: 10px;
		float: none;
	}

	.wrapper {
		margin-left: 200px;
	}

	.wrapper__minify {
		margin-left: 50px;
	}

}

@keyframes move{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@keyframes remove{
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -50px -50px;
	}
}








