

/*
=========================
Vertical Reponsive Menu
=========================
*/


/* line 6, sass/import/mixins.scss */

.vertical_nav,
.collapse_menu .collapse_menu--icon {
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


/* line 14, sass/vertical-responsive-menu.scss */

* {
	box-sizing: border-box;
}


/* line 26, sass/vertical-responsive-menu.scss */

:focus,
:active {
	outline: none;
}


/* line 32, sass/vertical-responsive-menu.scss */

.toggle_menu {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	background: none;
	border: 0;
	text-align: center;
	cursor: pointer;
}


/* line 44, sass/vertical-responsive-menu.scss */

.toggle_menu i {
	display: block;
	font-size: 28px;
}


/* line 52, sass/vertical-responsive-menu.scss */

.vertical_nav {
	position: absolute;
	left: -200px;
	top: 0px;
	bottom: 0px;
	width: 200px;
	background: #f6f6f6;
	z-index: 50;
}


/* line 63, sass/vertical-responsive-menu.scss */

.vertical_nav__closed {
	left: -200px !important;
}


/* line 67, sass/vertical-responsive-menu.scss */

.vertical_nav__opened {
	left: 0px !important;
	box-shadow: rgba(0, 0, 0, 0.4) -30px 0 30px 30px;
}


/* line 73, sass/vertical-responsive-menu.scss */

.menu {
	position: absolute;
	top: 0px;
	bottom: 40px;
	overflow-y: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/* line 84, sass/vertical-responsive-menu.scss */

.menu--item {
	position: relative;
	min-height: 40px;
	line-height: 40px;
}


/* line 90, sass/vertical-responsive-menu.scss */

.menu--item__has_sub_menu .menu--link:after {
	position: absolute;
	top: 0;
	right: 15px;
	height: 40px;
	line-height: 40px;
	font-family: 'Font Awesome 5 Free';
	content: "\f0d7";
	font-weight: 900;
}


/* line 100, sass/vertical-responsive-menu.scss */

.menu--subitens__opened {
	background: #e9e9e9;
}


/* line 103, sass/vertical-responsive-menu.scss */

.menu--subitens__opened .menu--link {
	color: #000;
}


/* line 107, sass/vertical-responsive-menu.scss */

.menu--subitens__opened .sub_menu {
	display: block;
}


/* line 113, sass/vertical-responsive-menu.scss */

.menu--link {
	display: block;
	overflow: hidden;
	font-size: 0.875rem;
	text-decoration: none;
	color: #666;
	font-weight: 400;
	white-space: nowrap;
	cursor: pointer;
}


/* line 123, sass/vertical-responsive-menu.scss */

.menu--link:hover,
.menu--link:hover .menu--label {
	color: #000;
	background: #dddddd;
}


/* line 131, sass/vertical-responsive-menu.scss */

.menu--icon {
	display: block;
	float: left;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}


/* line 140, sass/vertical-responsive-menu.scss */

.menu--label {
	display: block;
	height: 40px;
	line-height: 40px;
}


/* line 148, sass/vertical-responsive-menu.scss */

.sub_menu {
	display: none;
	overflow: hidden;
	padding-left: 0;
	list-style: none;
}


/* line 154, sass/vertical-responsive-menu.scss */

.sub_menu--link {
	display: block;
	padding-left: 50px;
	padding-right: 16px;
	font-size: 0.875rem;
	color: #666;
	text-decoration: none;
}


/* line 162, sass/vertical-responsive-menu.scss */

.sub_menu--link:hover {
	color: #000;
	background: #dddddd;
}


/* line 168, sass/vertical-responsive-menu.scss */

.sub_menu--link__active {
	color: #000;
	font-weight: 500;
}


/* line 176, sass/vertical-responsive-menu.scss */

.collapse_menu {
	display: none;
}

@media (min-width: 992px) {
	/* line 193, sass/vertical-responsive-menu.scss */
	.vertical_nav {
		left: 0;
	}
	/* line 197, sass/vertical-responsive-menu.scss */
	.toggle_menu {
		display: none;
	}
	/* line 203, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify {
		width: 50px;
	}
	/* line 206, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .menu {
		overflow: visible;
	}
	/* line 210, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .menu--label {
		display: none;
		position: absolute;
		top: 0;
		left: 50px;
		width: 183px;
		padding-left: 16px;
		padding-right: 16px;
		background: #e9e9e9;
		font-weight: 500;
	}
	/* line 222, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .menu--item__has_sub_menu .menu--link:after {
		content: "";
	}
	/* line 228, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .menu--subitens__opened .menu--label,
	.vertical_nav__minify .menu--subitens__opened .sub_menu {
		display: block;
	}
	/* line 232, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .sub_menu {
		position: absolute;
		top: 40px;
		left: 50px;
		width: 183px;
		background: #e9e9e9;
	}
	/* line 239, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .sub_menu--link {
		padding-left: 16px;
	}
	/* line 245, sass/vertical-responsive-menu.scss */
	.vertical_nav__minify .collapse_menu--icon {
		-webkit-transform: rotate(180deg);
	}
	/* line 253, sass/vertical-responsive-menu.scss */
	.collapse_menu {
		position: absolute;
		bottom: 0px;
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		padding: 0;
		border: 0;
		border-top: 1px solid #e6e6e6;
		background: #f6f6f6;
		color: #666;
		font-size: 0.875rem;
		text-align: left;
		cursor: pointer;
	}
	/* line 269, sass/vertical-responsive-menu.scss */
	.collapse_menu:hover {
		color: #000;
		background: #dddddd;
	}
	/* line 274, sass/vertical-responsive-menu.scss */
	.collapse_menu .collapse_menu--icon {
		display: block;
		float: left;
		width: 50px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
	/* line 282, sass/vertical-responsive-menu.scss */
	.collapse_menu .collapse_menu--icon:before {
		content: "\f053";
	}
	/* line 288, sass/vertical-responsive-menu.scss */
	.collapse_menu .collapse_menu--label {
		display: block;
		height: 40px;
		line-height: 40px;
	}
}

